* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.header {
  margin: 0 auto;
  width: 100vw;
  height: auto;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
}

.header_top,
.header_bottom {
  width: 80%;
}

.header_top {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo-container {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
}

.header_logo-title {
  color: #C92071;
  min-width: 200px;
}

.header__logo {
  width: 33px;
  height: auto;
  object-fit: cover;
}

.header__search-container {
  flex: 1;
}

.header__search {
  width: 100%;
  height: 25px;
  background-color: #47474710;
  border-radius: 8px;
  border: none;
  padding: 20px 15px;
}

.header_link-conteiner {
  flex: 1 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.header_link-cadastro {
  color: #696969;
  width: auto;
}

.header-btn {
  color: #EABFD4;
  background-color: #C92071;
  padding: 5px 25px;
  border-radius: 8px;
  width: auto;
}

.header_link-cadastro::after {
  content: '';
  display: block;
  width: auto;
  height: 1px;
  background-color: #696969;
}

.header_kart-conteiner {
  display: flex;
  justify-content: center;
  flex: 1;
}

.header_bottom {
  margin: 0 auto;
}

.header__nav-container {
  width: 100%;
  display: flex;
}

.header__nav-menu {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.header__nav-item {
  color: #696969;
  transition: 0.3s;
}

.header__nav-item:hover{
  color: #C92071;
}

.header__nav-item:hover:after {
  color: #C92071;
  content: '';
  display: block;
  width: auto;
  height: 1px;
  background-color: #C92071;
}