.dc{
  padding-top: 15px 20px;
}
.fundo {
    background-color: black;
    height: 385px;
}
h2, h3{
  color: white;
}
   .descricao  {
        color: white;
     display: flex;
     flex-direction: column;
     text-align: left;
     flex-direction: column;
    
     margin-bottom: 5px;
    
   }
        
    
    .container{
        
        justify-content: center;
        flex-direction: column;
        display: table-cell;

    }
    li{
        color: white;
        text-transform: none;
        margin-bottom: 10px;
        display:block;
    }
    
   .container {
           
            
        display: flex;
        font-size: 14px;
        /* font-weight: 700; */
        color: #e1c7f8;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
         }

         .categorias{
            display:flex;
      
            
         }
         p{
          text-align: center;
          width: 50%;
          height: 50%;
         }
           